# Игнорируются все файлы заканчивающиеся на .о и .а (объектные и архивные файлы)😒
*.[oa]

# Игнорируются все файлы заканчивающиеся на ~ (временные файлы)😒
*~ 

# Но отслеживать файл lib.a даже если он подпадает под исключение выше (! = НЕ)🤨
!lib.a

# Исключить файл TODO в корневом каталоге, но не файлы в других директориях, например в subdir/TODO
/TODO

# Игнорировать все файлы в каталоге build/ (слеш в конце)
build/

# Игнорировать все .txt файлы в каталоге doc/🎫📑
doc/**/*.txt
